// body {
//   background: red;
// }
//
//
//
// .bloomsbury-shop__pages {
//   display: none;
// }

// html, body {
//   overflow-y: hidden;
// }

.bloomsbury-shop {
  background-position: center center;
  background-size: cover;
  min-height: 480px;
  transition: all .3s;
  .slick-next,
  .slick-prev {
    width: auto;
    height: auto;
    background: transparent;
    z-index: 20;
    &:before {
      transform: none;
      font-family: 'bloomsbury-arrow' !important;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 53px;
    }
  }

  .slick-next {
    &:before {
      content: "\e901";
    }
  }
  .slick-prev {
    transform: none;
    &:before {
      content: "\e900";
    }
  }

  @media (min-width: 640px) {
    .mobile-only {
      display: none;
    }
  }

  @media (max-width: 639px) {
    .pc-only {
      display: none;
    }
  }

  &.landing {
    background-image: url('/media/export/cms/bloomsbury_digital/images/landing-mobile.jpg');
    @include breakpoint($large) {
      background-image: url('/media/export/cms/bloomsbury_digital/images/landing.jpg');
      min-height: 670px;
      background-size: 1920px auto;
      background-position: -320px -42px;
    }
    @include breakpoint(1600px) {
      background-position: 0 0;
      background-size: cover;
    }
    @include breakpoint($extra-large) {
      height: 1000px;
    }
    .bloomsbury-shop__nav {
      opacity: 0;
    }
  }

  .bloomsbury-shop__pages-wrap {
    display: none;
  }

  &__nav {
    opacity: 1;
    padding: 13px 0 18px;
    transition: all .3s;
    @include breakpoint($extra-large) {
      padding: 18px;
    }
    a {
      padding: 0 18px;
      font-size: 13px;
      @include breakpoint($tablet) {
        padding: 0 50px;
        font-size: 18px;
        display: inline-block;
        margin-top: 2px;
      }
      @include breakpoint($extra-large) {
        font-size: 24px;
        padding: 0 71px;
      }
    }
  }
}

.bloomsbury-shop__landing {
  height: auto;
  text-align: center;
  .bloomsbury-shop__content {
    margin: 50px auto auto;
    display: inline-block;
    padding: 0 10px;
    max-width: none;
    width: auto;
    @include breakpoint($tablet) {
      margin-top: 115px;
    }
    @include breakpoint($large) {
      margin-top: 90px;
    }
    @include breakpoint($extra-large) {
      margin-top: 150px;
    }
  }
  .bloomsbury-shop__content-wrap {
    padding: 1px 49px 20px;

    @include breakpoint($tablet) {
      padding: 2px 56px 40px;
    }
    @include breakpoint($large) {
      padding: 4px 60px 40px
    }
    @include breakpoint($extra-large) {
      padding: 4px 0 40px;
      width: 389px;
      margin-left: -10px;
    }
  }

  .bloomsbury-shop__content-title {
    font-size: 30px;
    margin-top: 29px;
    margin-bottom: 12px;
    line-height: 26px;
    letter-spacing: -1px;
    text-align: center;
    @include breakpoint($tablet) {
      font-size: 37px;
      line-height: 36px;
      margin-top: 31px;
      letter-spacing: 1px;
    }
  }
  .bloomsbury-shop__button {
    padding: 10px 42px;

    @include breakpoint($tablet) {
      padding: 8px 37px;
      margin-top: 8px;
      font-size: 12px;
    }
    @include breakpoint($large) {
      letter-spacing: 1px;
    }
  }
}
.bloomsbury-shop__page--story {
  .slick-prev {
    left: 32px;
    top: 145px;
  }
  .slick-next {
    top: 175px;
  }
  .bloomsbury-shop__content {
    padding: 0;
    margin: -5px auto 0;
    width: 100%;
    max-width: 600px;
    @include breakpoint($tablet) {
      margin-top: 0px;
      padding-bottom: 112px;
    }
    @include breakpoint($large) {
      max-width: 500px;
      padding-bottom: 100px;
    }
    @include breakpoint($extra-large) {
      max-width: 820px;
      padding-bottom: 150px;
    }
  }
  .bloomsbury-shop__button--inspiration {
    padding: 8px 10px;
  }
  .bloomsbury-shop__content-copy {
    padding: 0 10px;
    max-width: 75%;
    margin: auto;
    font-size: 10px;
    margin-top: 4px;
    text-align: center;
    line-height: 15px;
    letter-spacing: 1.4px;
    @include breakpoint($tablet) {
      font-size: 12px;
      padding-top: 0;
      line-height: 18px;
    }
    @include breakpoint($extra-large) {
      font-size: 16px;
      max-width: 100%;
      line-height: 1.5em;
      margin-bottom: 5px;
    }
  }
  .bloomsbury-shop__content-title {
    font-size: 21px;
    padding-top: 57px;
    line-height: 1.1em;
    letter-spacing: 2px;
    -webkit-font-smoothing: auto;
    @include breakpoint($tablet) {
      font-size: 38px;
      padding-top: 103px;
      line-height: 36px;
      letter-spacing: 0px;
    }
    @include breakpoint($large) {
      line-height: 1;
      font-size: 31px;
      padding-top: 76px;
    }
    @include breakpoint($extra-large) {
      padding-top: 140px;
      font-size: 50px;
    }
  }
  .bloomsbury-shop__button {
    width: 160px;
    font-size: 12px;
  }
  .bloomsbury-shop__button--scents {
    border: 1px solid #385688;
  }
  .bloomsbury-shop__button--inspiration {
    margin-bottom: 65px;
    @include breakpoint($tablet) {
      margin-bottom: 55px;
    }
  }
  .bloomsbury-shop__button--scents,
  .bloomsbury-shop__button--inspiration {
    @include breakpoint($tablet) {
      padding: 8px 0 8px;
      margin-top: 1px;
      width: 150px;
      margin-bottom: 7px;
      letter-spacing: 1px;
    }
    @include breakpoint($large) {
      width: 124px;
      padding: 6px 0;
      font-size: 10px;
      margin-bottom: 4px;
    }
    @include breakpoint($extra-large) {
      width: 200px;
      font-size: 17px;
      padding: 9px 0;
      margin-bottom: 10px;
    }
  }
}


.bloomsbury-shop__page--scents {
  .slick-slider {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -10px;
    @include breakpoint($tablet) {
      width: 768px;
    }
  }
  .slick-prev {
    top: 145px;
    left: 11%;
    @include breakpoint($tablet) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    @include breakpoint($large) {
      left: 222px;
      margin-top: -5px;
    }
    @include breakpoint($extra-large) {
      left: 298px;
      &:before {
        font-size: 78px;
      }
    }
  }
  .slick-next {
    right: 10%;
    top: 174px;
    @include breakpoint($tablet) {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    @include breakpoint($large) {
      right: 222px;
      margin-top: -5px;
    }
    @include breakpoint($extra-large) {
      right: 301px;
      &:before {
        font-size: 78px;
      }
    }
  }
  .bloomsbury-shop__products {
    padding: 0;
    @include breakpoint($tablet) {
      position: relative;
      margin-top: 4px;
    }

  }
  .bloomsbury-shop__products-item:not(.slick-slide) {
    padding: 68px 9px 0;
    width: 20%;
    @include breakpoint($tablet) {
      padding: 115px 9px 0;
    }
    @include breakpoint($large) {
      width: 130px;
      float: none;
      padding: 5px 0 0;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include breakpoint($extra-large) {
      padding: 158px 0 0;
      width: 180px;
      margin-right: 28px;
    }
    img {
      @include breakpoint($tablet) {
        width: 80px;
      }
      @include breakpoint($extra-large) {
        width: 130px;
      }
      @include breakpoint($extra-large) {
        width: 110px;
      }
    }
    .bloomsbury-shop__products-title {
      @include breakpoint($tablet) {
        display: block;
        margin: 38px auto 10px;
        max-width: 90%;
        font-size: 16px;
        line-height: 1;
        height: 34px;
      }
      @include breakpoint($large) {
        margin: 45px auto 12px;
      }
      @include breakpoint($extra-large) {
        margin-top: 58px;
        font-size: 22px;
        margin-bottom: 28px;
      }
    }
    .bloomsbury-shop__button {
      width: 130px;
      max-width: 100%;
      margin: auto;
      padding: 8px 10px;
      font-size: 12px;
      @include breakpoint($tablet) {
        padding: 6px 10px;
      }
      @include breakpoint($extra-large) {
        padding: 9px 0;
        width: 175px;
        font-size: 17px;
      }
    }
  }
  .bloomsbury-shop__products .bloomsbury-shop__button.bloomsbury-shop__button--explore {
    margin: 23px auto;
    letter-spacing: 2px;
    padding: 7px 19px;
  }

  .theme--whiskey-cedarwood,
  .theme--blue-hyacinth,
  .theme--tobacco-mandarin,
  .theme--leather-artemisia,
  .theme--garden-lillies {
    background: transparent;
    transition: background .3s;

    &.slick-slide {
      margin: auto;
      background-size: 100% 100%;
      background-position: center;
      width: 800px;
      max-width: 99%;
      margin: auto;
      height: auto;
    }
  }

  .slick-slide {
    img {
      max-width: 34px;
      @include breakpoint($tablet) {
        max-width: 60px;
      }
      @include breakpoint($large) {
        max-width: 50px;
      }
      @include breakpoint($extra-large) {
        max-width: none;
        width: 80px;
      }
    }

    .bloomsbury-shop__products-item {
      height: auto;
      @include breakpoint($tablet) {

      }
    }
    .bloomsbury-shop__products-item__wrap {
      padding: 50px 45px 0;
      height: 444px;
      width: 370px;
      margin: auto;
      @include breakpoint($tablet) {
        padding: 50px 45px 30px;
        height: 700px;
        width: 600px;
        max-width: 100%;
        margin: auto;
      }

      @include breakpoint($large) {
        width: 500px;
        height: 550px;
      }

      @include breakpoint($extra-large) {
        width: 810px;
        height: 920px;
        padding: 118px 60px 80px;
      }
    }
    .bloomsbury-shop__products-name {
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 2px;
      padding: 0;
      width: 70%;
      margin: auto;
      max-width: 65%;
      -webkit-font-smoothing: antialiased;
      @include breakpoint($tablet) {
        font-size: 35px;
        line-height: 1;
        letter-spacing: 5px;
        margin-top: 58px;
      }

      @include breakpoint($large) {
        margin-top: 28px;
        font-size: 30px;
        letter-spacing: 4px;
        margin-bottom: 5px;
      }
      @include breakpoint($extra-large) {
        font-size: 52px;
        max-width: 60%;
      }
    }

    .bloomsbury-shop__products-description {
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 1.5em;
      margin: auto;
      margin-top: 16px;
      @include breakpoint($tablet) {
        font-size: 13px;
        max-width: 70%;
        margin-top: 16px;
      }

      @include breakpoint($large) {
        margin-top: 10px;
        font-size: 11px;
        max-width: 90%;
      }
      @include breakpoint($extra-large) {
        font-size: 16px;
        max-width: 75%;
        margin-top: 17px;
      }
    }
    .bloomsbury-shop__products-price {
      @include breakpoint($tablet) {
        font-size: 12px;
        margin-top: 18px;
        font-weight: normal;
      }
      @include breakpoint($large) {
        line-height: 1;
        font-size: 11px;
      }
      @include breakpoint($extra-large) {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 26px;
      }
    }
    .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      padding: 8px 35px;
      margin: 2px auto 58px;
      font-size: 13px;
      @include breakpoint($tablet) {
        width: 150px;
        margin-top: 12px;
        padding: 7px 0;
      }
      @include breakpoint($large) {
        width: 125px;
        padding: 4px 0 5px;
        font-size: 11px;
        margin-top: 2px;
      }

      @include breakpoint($extra-large) {
        width: 200px;
        padding: 10px 0;
        font-size: 16px;
      }
    }
  }

  .bloomsbury-shop .theme--whiskey-cedarwood.slick-slide .bloomsbury-shop__products-item__wrap {
    background-image: url("/media/export/cms/bloomsbury_digital/borders/whiskey-cedarwood-mobile.png");
  }

  .theme--blue-hyacinth.slick-slide .bloomsbury-shop__products-item__wrap {
    background-image: url("/media/export/cms/bloomsbury_digital/borders/blue-hyacinth-mobile.png");
  }

  .theme--tobacco-mandarin.slick-slide .bloomsbury-shop__products-item__wrap {
    background-image: url("/media/export/cms/bloomsbury_digital/borders/tobacco-mandarin-mobile.png");
  }
  .theme--leather-artemisia.slick-slide .bloomsbury-shop__products-item__wrap {
    background-image: url("/media/export/cms/bloomsbury_digital/borders/leather-artemisia-mobile.png");
  }
  .theme--garden-lillies.slick-slide .bloomsbury-shop__products-item__wrap {
    background-image: url("/media/export/cms/bloomsbury_digital/borders/garden-lillies-mobile.png");
  }
}

.theme--whiskey-cedarwood .slick-arrow {
  color: #ac3b2d;
}

.theme--blue-hyacinth .slick-arrow {
  color: #998da0;
}
.theme--tobacco-mandarin .slick-arrow {
  color: #6d4640;
}
.theme--leather-artemisia .slick-arrow {
  color: #a39681;
}
.theme--garden-lillies .slick-arrow {
  color: #3d537a;
}


.bloomsbury-shop__page--inspiration {
  .slick-slider {
    position: relative;
    @include breakpoint($tablet) {
      margin: auto;
    }
  }
  .slick-slider .slick-slide {
    height: auto;
    img {
      @include breakpoint($tablet) {
        width: 600px;
      }
      @include breakpoint($large) {
        width: 495px;
      }
      @include breakpoint($extra-large) {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .slick-next,
  .slick-prev {
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    @include breakpoint($tablet) {
      color: #a59385;
      left: 0;
    }
    @include breakpoint($large) {
      left: 75px;
      margin-top: -5px;
    }
    @include breakpoint($extra-large) {
      left: -120px;
      margin-top: 8px;
      &:before {
        font-size: 78px;
      }
    }
  }
  .slick-next {
    right: 0;
    @include breakpoint($tablet) {
      left: auto;
      transform: translateY(-50%);
    }
    @include breakpoint($large) {
      right: 76px;
      margin-top: -5px;
    }
    @include breakpoint($extra-large) {
      right: -114px;
      margin-top: 8px;
      &:before {
        font-size: 78px;
      }
    }
  }
}