.bloomsbury-shop__content, .bloomsbury-shop__nav a, .bloomsbury-shop__products-title, .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name {
  font-family: "NewtextITCStd-Regular";
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 2px;
  font-weight: normal;
  text-rendering: auto; }

* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

.bloomsbury-shop {
  position: relative;
  background: url("../img/bloomsbury-wallpaper.jpg");
  background-size: 100% auto;
  height: 990px; }
  .bloomsbury-shop__button {
    display: inline-block;
    background: #FFFFFF;
    font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 12px;
    color: #696f93;
    transition: all .3s; }
    .bloomsbury-shop__button:hover {
      background: #e6e6e6;
      color: #545975; }
  .bloomsbury-shop__pages, .bloomsbury-shop__landing {
    position: relative; }
  .bloomsbury-shop__content {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 90%;
    margin: auto;
    text-align: center; }
  .bloomsbury-shop__content-title {
    font-size: 48px; }
  .bloomsbury-shop__image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .bloomsbury-shop__button {
    font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
    text-transform: uppercase; }
  .bloomsbury-shop__landing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    height: 1000px; }
    .bloomsbury-shop__landing .bloomsbury-shop__content {
      padding-top: 150px;
      padding-bottom: 350px;
      width: 385px; }
    .bloomsbury-shop__landing .bloomsbury-shop__content-wrap {
      border: 1px solid #FFFFFF;
      padding: 40px; }
    .bloomsbury-shop__landing .bloomsbury-shop__content-title {
      font-size: 40px;
      color: #FFFFFF;
      margin-bottom: 25px; }
  .bloomsbury-shop__nav {
    padding: 20px 0 10px;
    text-align: center; }
    .bloomsbury-shop__nav a {
      font-size: 22px;
      font-weight: normal;
      text-decoration: none;
      padding: 0 60px;
      transition: all .3s; }
      .bloomsbury-shop__nav a:hover {
        color: gray; }
      .bloomsbury-shop__nav a.active.story {
        color: #325283; }
      .bloomsbury-shop__nav a.active.scents {
        color: #bf5a29; }
      .bloomsbury-shop__nav a.active.inspiration {
        color: #e39a14; }
      .bloomsbury-shop__nav a.active span {
        border-bottom: 1px solid black; }
  .bloomsbury-shop__pages {
    position: relative;
    z-index: 1; }
  .bloomsbury-shop__page {
    display: none;
    padding: 0 0 40px; }
  .bloomsbury-shop__page--story .bloomsbury-shop__content {
    padding: 135px 40px 20px;
    margin: auto;
    background: url("../img/border/story.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 800px;
    max-width: 99%;
    min-height: 890px;
    margin: auto; }
  .bloomsbury-shop__page--story .bloomsbury-shop__content-wrap {
    max-width: 420px;
    margin: auto; }
  .bloomsbury-shop__page--story .bloomsbury-shop__content-title,
  .bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
    color: #3d537a; }
  .bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
    text-transform: none;
    line-height: 1.5em;
    margin-bottom: 30px; }
  .bloomsbury-shop__page--story .bloomsbury-shop__button {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 12px 0;
    width: 210px; }
  .bloomsbury-shop__page--story .bloomsbury-shop__button--scents {
    background: #385688;
    color: #FFFFFF;
    transition: all .3s; }
    .bloomsbury-shop__page--story .bloomsbury-shop__button--scents:hover {
      background: #293f64;
      color: #e6e6e6; }
  .bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
    background: transparent;
    border: 1px solid #385688;
    color: #385688; }
    .bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration:hover {
      background: white;
      color: #293f64; }
  .bloomsbury-shop__page--inspiration .bloomsbury-shop__slider {
    max-width: 90%;
    margin: auto; }
    .bloomsbury-shop__page--inspiration .bloomsbury-shop__slider .slick-slide:focus {
      outline: none; }
    .bloomsbury-shop__page--inspiration .bloomsbury-shop__slider .slick-slide img {
      width: 800px;
      margin: auto; }
  .bloomsbury-shop__content-copy {
    font-size: 16px;
    font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif; }
  .bloomsbury-shop__products {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 0; }
    .bloomsbury-shop__products-item {
      display: inline-block;
      width: 210px;
      max-width: 20%; }
    .bloomsbury-shop__products img {
      display: block;
      margin: auto;
      max-width: 100%; }
    .bloomsbury-shop__products-title {
      font-size: 20px;
      margin: 50px auto 15px;
      max-width: 180px; }
    .bloomsbury-shop__products-description {
      letter-spacing: 1px;
      line-height: 1.5em;
      width: 600px;
      max-width: 90%;
      margin: auto; }
    .bloomsbury-shop__products-price {
      font-weight: bold;
      letter-spacing: 1px;
      margin: 30px 0; }
    .bloomsbury-shop__products .bloomsbury-shop__button {
      background: transparent;
      font-size: 16px;
      letter-spacing: 1px; }
  .bloomsbury-shop__products-name, .bloomsbury-shop__products-content {
    display: none; }
  .bloomsbury-shop__products-item.slick-slide {
    text-align: center; }
    .bloomsbury-shop__products-item.slick-slide:focus {
      outline: none; }
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__button {
      display: none; }
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name,
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-content {
      display: block; }
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__button--add-bag {
      display: inline-block; }
    .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name {
      font-size: 48px; }
    .bloomsbury-shop__products-item.slick-slide img {
      margin: auto; }
  .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-title,
  .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-description,
  .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-price {
    color: #ac3b2d; }
  .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button {
    font-weight: 300;
    background: transparent;
    border: 1px solid #ac3b2d;
    color: #ac3b2d; }
    .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button:hover, .bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      background: #ac3b2d;
      color: #FFFFFF; }
  .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-title,
  .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-description,
  .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-price {
    color: #857a8b; }
  .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button {
    font-weight: 300;
    background: transparent;
    border: 1px solid #857a8b;
    color: #857a8b; }
    .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button:hover, .bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      background: #857a8b;
      color: #FFFFFF; }
  .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-title,
  .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-description,
  .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-price {
    color: #513531; }
  .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button {
    font-weight: 300;
    background: transparent;
    border: 1px solid #513531;
    color: #513531; }
    .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button:hover, .bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      background: #513531;
      color: #FFFFFF; }
  .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-title,
  .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-description,
  .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-price {
    color: #746b5d; }
  .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button {
    font-weight: 300;
    background: transparent;
    border: 1px solid #746b5d;
    color: #746b5d; }
    .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button:hover, .bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      background: #746b5d;
      color: #FFFFFF; }
  .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-title,
  .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-description,
  .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-price {
    color: #223e63; }
  .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button {
    font-weight: 300;
    background: transparent;
    border: 1px solid #223e63;
    color: #223e63; }
    .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button:hover, .bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      background: #223e63;
      color: #FFFFFF; }

.hidden {
  display: none; }
