.test #top {
  height: 78px;
  background: brown;
  width: 100%;
  position: relative;
  z-index: 20; }
  @media (min-width: 768px) {
    .test #top {
      height: 128px; } }

html, body {
  margin: 0;
  width: 100%; }

@font-face {
  font-family: 'bloomsbury-arrow';
  src: url("/media/export/cms/bloomsbury_digital/fonts/icomoon.eot?fzapve");
  src: url("/media/export/cms/bloomsbury_digital/fonts/icomoon.eot?fzapve#iefix") format("embedded-opentype"), url("/media/export/cms/bloomsbury_digital/fonts/icomoon.ttf?fzapve") format("truetype"), url("/media/export/cms/bloomsbury_digital/fonts/icomoon.woff?fzapve") format("woff"), url("/media/export/cms/bloomsbury_digital/fonts/icomoon.svg?fzapve#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AW Conqueror Didot Light';
  src: url("/media/export/cms/bloomsbury_digital/fonts/AWConquerorDidot-Light.eot");
  /* IE9 Compat Modes */
  src: url("/media/export/cms/bloomsbury_digital/fonts/AWConquerorDidot-Light.eot?#iefix") format("embedded-opentype"), url("/media/export/cms/bloomsbury_digital/fonts/AWConquerorDidot-Light.woff") format("woff"), url("/media/export/cms/bloomsbury_digital/fonts/AWConquerorDidot-Light.ttf") format("truetype"), url("/media/export/cms/bloomsbury_digital/fonts/AWConquerorDidot-Light.svg#145f8228578ecb194312b21e213a3a09") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal; }

.bloomsbury-shop__content,
.bloomsbury-shop__nav a,
.bloomsbury-shop__products-title,
.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name {
  font-family: "AW Conqueror Didot Light";
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 2px;
  font-weight: normal;
  text-rendering: auto; }

#main {
  padding-bottom: 0; }

.bloomsbury-shop {
  background: url("/media/export/cms/bloomsbury_digital/images/bloomsbury-wallpaper.jpg");
  background-size: 100% auto;
  height: auto;
  min-height: 100%;
  width: 100%; }

.bloomsbury-shop__button {
  display: inline-block;
  background: #FFFFFF;
  font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
  text-decoration: none;
  padding: 10px 40px;
  font-size: 12px;
  color: #696f93;
  transition: all .3s;
  border: none; }

.bloomsbury-shop__button:hover {
  background: #e6e6e6;
  color: #545975; }

.bloomsbury-shop__pages,
.bloomsbury-shop__landing {
  position: relative; }

.bloomsbury-shop__content {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 90%;
  margin: auto;
  text-align: center; }

.bloomsbury-shop__content-title {
  font-size: 48px;
  -webkit-font-smoothing: antialiased; }

.bloomsbury-shop__image {
  position: fixed;
  min-width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (min-width: 768px) {
  .bloomsbury-shop__image {
    position: fixed;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.bloomsbury-shop__button {
  font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;
  text-transform: uppercase; }

.bloomsbury-shop__landing {
  width: 100%;
  height: 100%;
  z-index: 2; }

.bloomsbury-shop__landing .bloomsbury-shop__content {
  max-width: 420px;
  width: 95%;
  margin: auto;
  margin-top: 15vh;
  position: relative;
  z-index: 2; }

.bloomsbury-shop__landing .bloomsbury-shop__content-wrap {
  background: url("/media/export/cms/bloomsbury_digital/images/landing-border.png") no-repeat;
  background-size: 100% 100%;
  padding: 40px; }

.bloomsbury-shop__landing .bloomsbury-shop__content-title {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 25px; }

@media (min-width: 1024px) {
  .bloomsbury-shop__landing .bloomsbury-shop__content-title {
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 25px; } }

.bloomsbury-shop__nav {
  padding: 20px 0 10px;
  text-align: center; }

.bloomsbury-shop__nav a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  transition: all .3s;
  border: none;
  padding: 0 8px; }

@media (min-width: 768px) {
  .bloomsbury-shop__nav a {
    padding: 0 20px;
    font-size: 22px; } }

/* Editor entered span, display none */
@media (max-width: 767px) {
  .bloomsbury-shop__nav a > span span {
    display: none; } }

@media (min-width: 1024px) {
  .bloomsbury-shop__nav a {
    padding: 0 60px;
    font-size: 22px; } }

.bloomsbury-shop__nav a:hover {
  color: gray; }

.bloomsbury-shop__nav a.active.story {
  color: #325283; }

.bloomsbury-shop__nav a.active.scents {
  color: #bf5a29; }

.bloomsbury-shop__nav a.active.inspiration {
  color: #e39a14; }

.bloomsbury-shop__nav a.active span {
  border-bottom: 1px solid black; }

.bloomsbury-shop__pages {
  position: relative;
  z-index: 1; }

.bloomsbury-shop__page {
  display: none;
  padding: 0 0 40px; }

.bloomsbury-shop__page .slick-prev,
.bloomsbury-shop__page .slick-next {
  position: absolute;
  top: 50%;
  left: -0;
  transform: translateY(-50%);
  font-size: 0;
  border: none;
  width: 50px;
  height: 50px;
  background-position: center center; }

.bloomsbury-shop__page .slick-prev:focus,
.bloomsbury-shop__page .slick-next:focus {
  outline: none; }

.bloomsbury-shop__page .slick-next {
  left: auto;
  right: 0; }

@media (min-width: 768px) {
  .bloomsbury-shop__page .slick-prev {
    left: -90px; }
  .bloomsbury-shop__page .slick-next {
    right: -90px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__content {
  padding: 90px 50px 90px;
  margin: auto;
  background: url("/media/export/cms/bloomsbury_digital/images/story.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  max-width: 800px;
  width: 99%;
  height: auto;
  margin: auto;
  margin-top: 20px; }

@media (min-width: 768px) {
  .bloomsbury-shop__page--story .bloomsbury-shop__content {
    padding: 135px 50px 100px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
  font-size: 11px; }

@media (min-width: 768px) {
  .bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
    font-size: 16px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__content-title {
  font-size: 22px; }

@media (min-width: 768px) {
  .bloomsbury-shop__page--story .bloomsbury-shop__content-title {
    font-size: 48px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__content-wrap {
  max-width: 420px;
  margin: auto; }

.bloomsbury-shop__page--story .bloomsbury-shop__content-title,
.bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
  color: #3d537a; }

.bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
  text-transform: none;
  line-height: 1.5em;
  margin-bottom: 30px; }

.bloomsbury-shop__page--story .bloomsbury-shop__button {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 12px 0;
  width: 210px;
  padding: 10px; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--scents {
  background: #385688;
  color: #FFFFFF;
  transition: all .3s; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--scents:hover {
  background: #293f64;
  color: #e6e6e6; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
  background: transparent;
  border: 1px solid #385688;
  color: #385688; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration:hover {
  background: white;
  color: #293f64; }

.bloomsbury-shop__page--inspiration .bloomsbury-shop__content {
  width: 100%;
  max-width: 100%; }

.bloomsbury-shop__page--inspiration .bloomsbury-shop__slider {
  margin: 15px auto; }

.bloomsbury-shop__page--inspiration .bloomsbury-shop__slider .slick-slide:focus {
  outline: none; }

.bloomsbury-shop__page--inspiration .bloomsbury-shop__slider {
  width: 800px;
  max-width: 99%; }

.bloomsbury-shop__page--inspiration .bloomsbury-shop__slider .slick-slide img {
  margin: auto;
  width: 100%; }

.bloomsbury-shop__content-copy {
  font-size: 16px;
  font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif; }

.bloomsbury-shop__products {
  padding-top: 15px;
  width: 98%;
  margin: auto;
  text-align: center;
  font-size: 0; }

@media (min-width: 1024px) {
  .bloomsbury-shop__products {
    width: 85%; } }

.bloomsbury-shop__products .slick-slider {
  width: 800px;
  max-width: 99%;
  margin: auto; }

.bloomsbury-shop__products-item {
  display: inline-block; }

.bloomsbury-shop__products-item:not(.slick-slide) {
  padding: 0 15px;
  width: 19%;
  float: left; }

.bloomsbury-shop__products img {
  display: block;
  margin: auto;
  max-width: 100%; }

.bloomsbury-shop__products-title {
  display: none;
  font-size: 14px;
  margin: 50px auto 15px;
  max-width: 180px; }

@media (min-width: 1100px) {
  .bloomsbury-shop__products-title {
    display: block;
    font-size: 20px; } }

.bloomsbury-shop__products-price {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0; }

.bloomsbury-shop__products .bloomsbury-shop__button {
  display: none;
  background: transparent;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px; }

@media (min-width: 768px) {
  .bloomsbury-shop__products .bloomsbury-shop__button {
    display: block; } }

.bloomsbury-shop__products .bloomsbury-shop__button.bloomsbury-shop__button--explore {
  display: inline-block;
  font-size: 12px;
  margin: 25px auto;
  border: 1px solid #513531;
  color: #513531;
  transition: all .3s; }

.bloomsbury-shop__products .slick-slider + .bloomsbury-shop__button.bloomsbury-shop__button--explore {
  display: none; }

.bloomsbury-shop__products .bloomsbury-shop__button.bloomsbury-shop__button--explore:hover {
  background: #513531;
  color: #FFFFFF; }

@media (min-width: 768px) {
  .bloomsbury-shop__products .bloomsbury-shop__button.bloomsbury-shop__button--explore {
    display: none; } }

.bloomsbury-shop__products-name,
.bloomsbury-shop__products-content {
  display: none; }

.bloomsbury-shop__products-item.slick-slide {
  text-align: center; }

.bloomsbury-shop__products-item.slick-slide:focus {
  outline: none; }

.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-title,
.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__button {
  display: none; }

.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name,
.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-content {
  display: block; }

.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-content {
  font-size: 12px; }

@media (min-width: 768px) {
  .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-content {
    font-size: 16px; } }

.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__button--add-bag {
  display: inline-block; }

.bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name {
  font-size: 22px; }

@media (min-width: 768px) {
  .bloomsbury-shop__products-item.slick-slide .bloomsbury-shop__products-name {
    font-size: 48px; } }

.bloomsbury-shop__products-item.slick-slide img {
  margin: auto; }

.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-item__wrap,
.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-item__wrap,
.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-item__wrap,
.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-item__wrap,
.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-item__wrap {
  background: transparent;
  background-repeat: no-repeat;
  transition: background .3s;
  background-size: 100% 100%;
  background-position: center center; }

.bloomsbury-shop .theme--whiskey-cedarwood.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/images/whiskey-cedarwood.png"); }

.bloomsbury-shop .theme--blue-hyacinth.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/images/blue-hyacinth.png"); }

.bloomsbury-shop .theme--tobacco-mandarin.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/images/tobacco-mandarin.png"); }

.bloomsbury-shop .theme--leather-artemisia.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/images/leather-artemisia.png"); }

.bloomsbury-shop .theme--garden-lillies.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/images/garden-lillies.png"); }

.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-title,
.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-name,
.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-description,
.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__products-price {
  color: #ac3b2d; }

.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button {
  font-weight: 300;
  background: transparent;
  border: 1px solid #ac3b2d;
  color: #ac3b2d; }

.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button:hover,
.bloomsbury-shop .theme--whiskey-cedarwood .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  background: #ac3b2d;
  color: #FFFFFF; }

.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-title,
.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-name,
.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-description,
.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__products-price {
  color: #857a8b; }

.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button {
  font-weight: 300;
  background: transparent;
  border: 1px solid #857a8b;
  color: #857a8b; }

.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button:hover,
.bloomsbury-shop .theme--blue-hyacinth .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  background: #857a8b;
  color: #FFFFFF; }

.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-title,
.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-name,
.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-description,
.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__products-price {
  color: #513531; }

.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button {
  font-weight: 300;
  background: transparent;
  border: 1px solid #513531;
  color: #513531; }

.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button:hover,
.bloomsbury-shop .theme--tobacco-mandarin .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  background: #513531;
  color: #FFFFFF; }

.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-title,
.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-name,
.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-description,
.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__products-price {
  color: #746b5d; }

.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button {
  font-weight: 300;
  background: transparent;
  border: 1px solid #746b5d;
  color: #746b5d; }

.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button:hover,
.bloomsbury-shop .theme--leather-artemisia .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  background: #746b5d;
  color: #FFFFFF; }

.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-title,
.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-name,
.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-description,
.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__products-price {
  color: #223e63; }

.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button {
  font-weight: 300;
  background: transparent;
  border: 1px solid #223e63;
  color: #223e63; }

.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button:hover,
.bloomsbury-shop .theme--garden-lillies .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  background: #223e63;
  color: #FFFFFF; }

.hidden {
  display: none; }

@media (max-width: 767px) {
  #footer {
    display: none; } }

.bloomsbury-shop {
  background-position: center center;
  background-size: cover;
  min-height: 480px; }
  .bloomsbury-shop .slick-next,
  .bloomsbury-shop .slick-prev {
    width: auto;
    height: auto;
    background: transparent;
    z-index: 20; }
    .bloomsbury-shop .slick-next:before,
    .bloomsbury-shop .slick-prev:before {
      transform: none;
      font-family: 'bloomsbury-arrow' !important;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 53px; }
  .bloomsbury-shop .slick-next:before {
    content: "\e901"; }
  .bloomsbury-shop .slick-prev {
    transform: none; }
    .bloomsbury-shop .slick-prev:before {
      content: "\e900"; }
  @media (min-width: 640px) {
    .bloomsbury-shop .mobile-only {
      display: none; } }
  @media (max-width: 639px) {
    .bloomsbury-shop .pc-only {
      display: none; } }
  .bloomsbury-shop.landing {
    background-image: url("/media/export/cms/bloomsbury_digital/images/landing-mobile.jpg"); }
    @media (min-width: 1280px) {
      .bloomsbury-shop.landing {
        background-image: url("/media/export/cms/bloomsbury_digital/images/landing.jpg");
        min-height: 670px;
        background-size: 1920px auto;
        background-position: -320px -42px; } }
    .bloomsbury-shop.landing .bloomsbury-shop__nav {
      opacity: 0; }
  .bloomsbury-shop .bloomsbury-shop__pages-wrap {
    display: none; }
  .bloomsbury-shop__nav {
    opacity: 1;
    padding: 13px 0 18px;
    transition: all .3s; }
    .bloomsbury-shop__nav a {
      padding: 0 18px;
      font-size: 13px; }
      @media (min-width: 768px) {
        .bloomsbury-shop__nav a {
          padding: 0 50px;
          font-size: 18px;
          display: inline-block;
          margin-top: 2px; } }

.bloomsbury-shop__landing {
  height: auto;
  text-align: center; }
  .bloomsbury-shop__landing .bloomsbury-shop__content {
    margin: 50px auto auto;
    display: inline-block;
    padding: 0 10px;
    max-width: none;
    width: auto; }
    @media (min-width: 768px) {
      .bloomsbury-shop__landing .bloomsbury-shop__content {
        margin-top: 115px; } }
    @media (min-width: 1280px) {
      .bloomsbury-shop__landing .bloomsbury-shop__content {
        margin-top: 90px; } }
  .bloomsbury-shop__landing .bloomsbury-shop__content-wrap {
    padding: 1px 49px 20px; }
    @media (min-width: 768px) {
      .bloomsbury-shop__landing .bloomsbury-shop__content-wrap {
        padding: 2px 56px 40px; } }
  .bloomsbury-shop__landing .bloomsbury-shop__content-title {
    font-size: 30px;
    margin-top: 29px;
    margin-bottom: 12px;
    line-height: 26px;
    letter-spacing: -1px; }
    @media (min-width: 768px) {
      .bloomsbury-shop__landing .bloomsbury-shop__content-title {
        font-size: 37px;
        line-height: 36px;
        margin-top: 31px;
        letter-spacing: 1px; } }
  .bloomsbury-shop__landing .bloomsbury-shop__button {
    padding: 10px 42px; }
    @media (min-width: 768px) {
      .bloomsbury-shop__landing .bloomsbury-shop__button {
        padding: 8px 37px;
        margin-top: 8px;
        font-size: 12px; } }

.bloomsbury-shop__page--story .slick-prev {
  left: 32px;
  top: 145px; }

.bloomsbury-shop__page--story .slick-next {
  top: 175px; }

.bloomsbury-shop__page--story .bloomsbury-shop__content {
  padding: 0;
  margin: -5px auto 0;
  width: 100%;
  max-width: 600px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--story .bloomsbury-shop__content {
      margin-top: 0px;
      padding-bottom: 112px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--story .bloomsbury-shop__content {
      max-width: 500px;
      padding-bottom: 100px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
  padding: 8px 10px; }

.bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
  padding: 0 10px;
  max-width: 75%;
  margin: auto;
  font-size: 10px;
  margin-top: 4px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 1.4px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--story .bloomsbury-shop__content-copy {
      font-size: 12px;
      padding-top: 0;
      line-height: 18px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__content-title {
  font-size: 21px;
  padding-top: 57px;
  line-height: 1.1em;
  letter-spacing: 2px;
  -webkit-font-smoothing: auto; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--story .bloomsbury-shop__content-title {
      font-size: 38px;
      padding-top: 103px;
      line-height: 36px;
      letter-spacing: 0px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--story .bloomsbury-shop__content-title {
      line-height: 1;
      font-size: 31px;
      padding-top: 76px; } }

.bloomsbury-shop__page--story .bloomsbury-shop__button {
  width: 160px;
  font-size: 12px; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--scents {
  border: 1px solid #385688; }

.bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
  margin-bottom: 55px; }

@media (min-width: 768px) {
  .bloomsbury-shop__page--story .bloomsbury-shop__button--scents,
  .bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
    padding: 8px 0 8px;
    margin-top: 1px;
    width: 150px;
    margin-bottom: 7px;
    letter-spacing: 1px; } }

@media (min-width: 1280px) {
  .bloomsbury-shop__page--story .bloomsbury-shop__button--scents,
  .bloomsbury-shop__page--story .bloomsbury-shop__button--inspiration {
    width: 124px;
    padding: 6px 0;
    font-size: 10px;
    margin-bottom: 4px; } }

.bloomsbury-shop__page--scents .slick-slider {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: -10px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slider {
      width: 100%;
      position: static; } }

.bloomsbury-shop__page--scents .slick-prev {
  top: 145px;
  left: 32px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-prev {
      top: 50%;
      left: 0;
      transform: translateY(-50%); } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-prev {
      left: 222px;
      margin-top: -5px; } }

.bloomsbury-shop__page--scents .slick-next {
  right: 27px;
  top: 174px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-next {
      top: 50%;
      right: 0;
      transform: translateY(-50%); } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-next {
      right: 222px;
      margin-top: -5px; } }

.bloomsbury-shop__page--scents .bloomsbury-shop__products {
  padding: 0; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products {
      position: relative;
      margin-top: 4px; } }

.bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) {
  padding: 68px 9px 0;
  width: 20%; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) {
      padding: 115px 9px 0; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) {
      width: 130px;
      float: none;
      padding: 5px 0 0;
      margin-right: 25px; }
      .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide):last-child {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) img {
      width: 80px; } }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) .bloomsbury-shop__products-title {
      display: block;
      margin: 38px auto 10px;
      max-width: 90%;
      font-size: 16px;
      line-height: 1;
      height: 34px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) .bloomsbury-shop__products-title {
      margin: 45px auto 12px; } }
  .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) .bloomsbury-shop__button {
    width: 130px;
    max-width: 100%;
    margin: auto;
    padding: 8px 10px;
    font-size: 12px; }
    @media (min-width: 768px) {
      .bloomsbury-shop__page--scents .bloomsbury-shop__products-item:not(.slick-slide) .bloomsbury-shop__button {
        padding: 6px 10px; } }

.bloomsbury-shop__page--scents .bloomsbury-shop__products .bloomsbury-shop__button.bloomsbury-shop__button--explore {
  margin: 23px auto;
  letter-spacing: 2px;
  padding: 7px 19px; }

.bloomsbury-shop__page--scents .theme--whiskey-cedarwood,
.bloomsbury-shop__page--scents .theme--blue-hyacinth,
.bloomsbury-shop__page--scents .theme--tobacco-mandarin,
.bloomsbury-shop__page--scents .theme--leather-artemisia,
.bloomsbury-shop__page--scents .theme--garden-lillies {
  background: transparent;
  transition: background .3s; }
  .bloomsbury-shop__page--scents .theme--whiskey-cedarwood.slick-slide,
  .bloomsbury-shop__page--scents .theme--blue-hyacinth.slick-slide,
  .bloomsbury-shop__page--scents .theme--tobacco-mandarin.slick-slide,
  .bloomsbury-shop__page--scents .theme--leather-artemisia.slick-slide,
  .bloomsbury-shop__page--scents .theme--garden-lillies.slick-slide {
    margin: auto;
    background-size: 100% 100%;
    background-position: center;
    width: 800px;
    max-width: 99%;
    margin: auto;
    height: auto; }

.bloomsbury-shop__page--scents .slick-slide img {
  max-width: 34px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slide img {
      max-width: 60px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-slide img {
      max-width: 50px; } }

.bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-item {
  height: auto; }

.bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-item__wrap {
  padding: 50px 45px 0;
  height: 444px;
  width: 370px;
  margin: auto; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-item__wrap {
      padding: 50px 45px 30px;
      height: 700px;
      width: 600px;
      max-width: 100%;
      margin: auto; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-item__wrap {
      width: 500px;
      height: 550px; } }

.bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-name {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 2px;
  padding: 0;
  width: 70%;
  margin: auto;
  max-width: 65%;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-name {
      font-size: 35px;
      line-height: 1;
      letter-spacing: 5px;
      margin-top: 58px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-name {
      margin-top: 28px;
      font-size: 30px;
      letter-spacing: 4px;
      margin-bottom: 5px; } }

.bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-description {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: auto;
  margin-top: 16px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-description {
      font-size: 13px;
      max-width: 70%;
      margin-top: 16px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-description {
      margin-top: 10px;
      font-size: 11px;
      max-width: 90%; } }

@media (min-width: 768px) {
  .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-price {
    font-size: 12px;
    margin-top: 18px;
    font-weight: normal; } }

@media (min-width: 1280px) {
  .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__products-price {
    line-height: 1;
    font-size: 11px; } }

.bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
  padding: 8px 35px;
  margin: 2px auto 58px;
  font-size: 13px; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      width: 150px;
      margin-top: 12px;
      padding: 7px 0; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--scents .slick-slide .bloomsbury-shop__button.bloomsbury-shop__button--add-bag {
      width: 125px;
      padding: 4px 0 5px;
      font-size: 11px;
      margin-top: 2px; } }

.bloomsbury-shop__page--scents .bloomsbury-shop .theme--whiskey-cedarwood.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/borders/whiskey-cedarwood-mobile.png"); }

.bloomsbury-shop__page--scents .theme--blue-hyacinth.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/borders/blue-hyacinth-mobile.png"); }

.bloomsbury-shop__page--scents .theme--tobacco-mandarin.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/borders/tobacco-mandarin-mobile.png"); }

.bloomsbury-shop__page--scents .theme--leather-artemisia.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/borders/leather-artemisia-mobile.png"); }

.bloomsbury-shop__page--scents .theme--garden-lillies.slick-slide .bloomsbury-shop__products-item__wrap {
  background-image: url("/media/export/cms/bloomsbury_digital/borders/garden-lillies-mobile.png"); }

.theme--whiskey-cedarwood .slick-arrow {
  color: #ac3b2d; }

.theme--blue-hyacinth .slick-arrow {
  color: #998da0; }

.theme--tobacco-mandarin .slick-arrow {
  color: #6d4640; }

.theme--leather-artemisia .slick-arrow {
  color: #a39681; }

.theme--garden-lillies .slick-arrow {
  color: #3d537a; }

.bloomsbury-shop__page--inspiration .slick-slider {
  position: relative; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--inspiration .slick-slider {
      margin: auto; } }

.bloomsbury-shop__page--inspiration .slick-slider .slick-slide {
  height: auto; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--inspiration .slick-slider .slick-slide img {
      width: 600px; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--inspiration .slick-slider .slick-slide img {
      width: 495px; } }

.bloomsbury-shop__page--inspiration .slick-next,
.bloomsbury-shop__page--inspiration .slick-prev {
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--inspiration .slick-next,
    .bloomsbury-shop__page--inspiration .slick-prev {
      color: #a59385;
      left: 0; } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--inspiration .slick-next,
    .bloomsbury-shop__page--inspiration .slick-prev {
      left: 75px;
      margin-top: -5px; } }

.bloomsbury-shop__page--inspiration .slick-next {
  right: 0; }
  @media (min-width: 768px) {
    .bloomsbury-shop__page--inspiration .slick-next {
      left: auto;
      transform: translateY(-50%); } }
  @media (min-width: 1280px) {
    .bloomsbury-shop__page--inspiration .slick-next {
      right: 76px;
      margin-top: -5px; } }
