$body-font: "Helvetica" , "Arial", "Lucida Grande", sans-serif;

%header {
  font-family: "NewtextITCStd-Regular";
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 2px;
  font-weight: normal;
  text-rendering: auto;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

.bloomsbury-shop {
  position: relative;
  background: url('../img/bloomsbury-wallpaper.jpg');
  background-size: 100% auto;
  height: 990px;
  &__button {
    display: inline-block;
    background: #FFFFFF;
    font-family: $body-font;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 12px;
    color: #696f93;
    transition: all .3s;
    &:hover {
      background: darken(#FFFFFF, 10%);
      color: darken(#696f93, 10%);
    }
  }
  &__pages,
  &__landing {
    position: relative;
  }
  &__content {
    @extend %header;
    position: relative;
    z-index: 1;
    display: block;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }
  &__content-title {
    font-size: 48px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__button {
    font-family: $body-font;
    text-transform: uppercase;
  }

  //
  // Landing Page
  //
  &__landing {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    height: 1000px;

    .bloomsbury-shop__content {
      padding-top: 150px;
      padding-bottom: 350px;
      width: 385px;
    }
    .bloomsbury-shop__content-wrap {
      border: 1px solid #FFFFFF;
      padding: 40px;
    }

    .bloomsbury-shop__content-title {
      font-size: 40px;
      color: #FFFFFF;
      margin-bottom: 25px;
    }
  }

  //
  // Nav
  //
  &__nav {
    padding: 20px 0 10px;
    text-align: center;
    a {
      @extend %header;
      font-size: 22px;
      font-weight: normal;
      text-decoration: none;
      padding: 0 60px;
      transition: all .3s;
      &:hover {
        color: lighten(#000000, 50%);
      }
      &.active.story {
        color: #325283;
      }
      &.active.scents {
        color: #bf5a29;
      }
      &.active.inspiration {
        color: #e39a14;
      }
      &.active span {
        border-bottom: 1px solid black;
      }
    }
  }

  //
  // Pages
  //
  &__pages {
    position: relative;
    z-index: 1;
  }
  &__page {
    display: none;
    padding: 0 0 40px;
  }
  &__page--story {
    .bloomsbury-shop__content {
      padding: 135px 40px 20px;
      margin: auto;
      background: url('../img/border/story.png') no-repeat;
      background-size: 100% 100%;
      background-position: center;
      width: 800px;
      max-width: 99%;
      min-height: 890px;
      margin: auto;
    }
    .bloomsbury-shop__content-wrap {
      max-width: 420px;
      margin: auto;
    }
    .bloomsbury-shop__content-title,
    .bloomsbury-shop__content-copy {
      color: #3d537a;
    }
    .bloomsbury-shop__content-copy {
      text-transform: none;
      line-height: 1.5em;
      margin-bottom: 30px;
    }
    .bloomsbury-shop__button {
      font-size: 16px;
      margin-bottom: 10px;
      padding: 12px 0;
      width: 210px;
    }
    .bloomsbury-shop__button--scents {
      background: #385688;
      color: #FFFFFF;
      transition: all .3s;
      &:hover {
        background: darken(#385688, 10%);
        color: darken(#FFFFFF, 10%);
      }
    }
    .bloomsbury-shop__button--inspiration {
      background: transparent;
      border: 1px solid #385688;
      color: #385688;
      &:hover {
        background: darken(#FFF, 0%);
        color: darken(#385688, 10%);
      }
    }
  }
  &__page--inspiration {
    .bloomsbury-shop__slider {
      max-width: 90%;
      margin: auto;
      .slick-slide:focus {
        outline: none;
      }
      .slick-slide img {
        width: 800px;
        margin: auto;
      }
    }
  }

  &__content-copy {
    font-size: 16px;
    font-family: $body-font;
  }

  // The scents and product info
  &__products {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 0;
    &-item {
      display: inline-block;
      width: 210px;
      max-width: 20%;
    }
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
    &-title {
      @extend %header;
      font-size: 20px;
      margin: 50px auto 15px;
      max-width: 180px;
    }
    &-description {
      letter-spacing: 1px;
      line-height: 1.5em;
      width: 600px;
      max-width: 90%;
      margin: auto;
    }
    &-price {
      font-weight: bold;
      letter-spacing: 1px;
      margin: 30px 0;;
    }
    .bloomsbury-shop__button {
      background: transparent;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  // Hide these display values unless on the carousel
  &__products-name,
  &__products-content {
    display: none;
  }
  // Active carousel form of the grid
  &__products-item.slick-slide {
    text-align: center;
    &:focus {
      outline: none;
    }
    // Hide these when switching to the carousel
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__button {
      display: none;
    }
    // Show these when switching to the carousel
    .bloomsbury-shop__products-name,
    .bloomsbury-shop__products-content {
      display: block;
    }
    .bloomsbury-shop__button--add-bag {
      display: inline-block;
    }

    .bloomsbury-shop__products-name {
       @extend %header;
      font-size: 48px;
    }
    img {
      margin: auto;
    }
  }



  // Bloomsbury Product / Scents Themes
  .theme--whiskey-cedarwood {
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-description,
    .bloomsbury-shop__products-price {
      color: #ac3b2d;
    }
    .bloomsbury-shop__button {
      font-weight: 300;
      background: transparent;
      border: 1px solid #ac3b2d;
      color: #ac3b2d;
      &:hover,
      &.bloomsbury-shop__button--add-bag {
        background: #ac3b2d;
        color: #FFFFFF;
      }
    }
  }

  .theme--blue-hyacinth {
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-description,
    .bloomsbury-shop__products-price {
      color: #857a8b;
    }
    .bloomsbury-shop__button {
      font-weight: 300;
      background: transparent;
      border: 1px solid #857a8b;
      color: #857a8b;
      &:hover,
      &.bloomsbury-shop__button--add-bag {
        background: #857a8b;
        color: #FFFFFF;
      }
    }
  }

  .theme--tobacco-mandarin {
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-description,
    .bloomsbury-shop__products-price {
      color: #513531;
    }
    .bloomsbury-shop__button {
      font-weight: 300;
      background: transparent;
      border: 1px solid #513531;
      color: #513531;
      &:hover,
      &.bloomsbury-shop__button--add-bag {
        background: #513531;
        color: #FFFFFF;
      }
    }
  }

  .theme--leather-artemisia {
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-description,
    .bloomsbury-shop__products-price {
      color: #746b5d;
    }
    .bloomsbury-shop__button {
      font-weight: 300;
      background: transparent;
      border: 1px solid #746b5d;
      color: #746b5d;
      &:hover,
      &.bloomsbury-shop__button--add-bag {
        background: #746b5d;
        color: #FFFFFF;
      }
    }
  }

  .theme--garden-lillies {
    .bloomsbury-shop__products-title,
    .bloomsbury-shop__products-description,
    .bloomsbury-shop__products-price {
      color: #223e63;
    }
    .bloomsbury-shop__button {
      font-weight: 300;
      background: transparent;
      border: 1px solid #223e63;
      color: #223e63;
      &:hover,
      &.bloomsbury-shop__button--add-bag {
        background: #223e63;
        color: #FFFFFF;
      }
    }
  }
}


.hidden {
  display: none;
}